@using Microsoft.AspNetCore.Identity
@using TechElite.Areas.Identity.Data
@using System.Linq
@using TechElite.Models

@inject UserManager<ApplicationUser> UserManager

@model TechElite.Models.AdminAccountViewModel

<div class="content">
    <div class="first account-tab">
        <div class="welcome">
            <h1>Välkommen @UserManager.GetUserName(User)!</h1>
        </div>
        <div class="users">
            <table class="user-table">
                <thead>
                    <tr>
                        <th>Användarnamn</th>
                        <th>Roll</th>
                        <th>E-post</th>
                        <th>Förnamn</th>
                        <th>Efternamn</th>
                        <th>Åtgärder</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var user in Model.Users)
                    {
                        <tr>
                            <td>@user.UserName</td>
                            <td>
                                @if (user.Roles != null && user.Roles.Any())
                                {
                                    foreach (var role in user.Roles)
                                    {
                                        <span>@role</span>
                                    }
                                }
                            </td>
                            <td>@user.Email</td>
                            <td>@user.FirstName</td>
                            <td>@user.LastName</td>
                            <td>
                                <button class="manage-user-btn"
                                        data-user-id="@user.Id"
                                        data-user-username="@user.UserName"
                                        data-user-email="@user.Email"
                                        data-user-firstname="@user.FirstName"
                                        data-user-lastname="@user.LastName">
                                    Hantera
                                </button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="user-actions">
            <partial name="_AccountEditView" model="Model.Users" />
        </div>
    </div>
    <div class="second account-tab">
        <div class="welcome">
            <h2>Hantera ordrar</h2>
        </div>
        @* <div class="orders">
            <table class="order-table">
                <thead>
                    <tr>
                        <th>OrderID</th>
                        <th>KundID</th>
                        <th>Datum</th>
                        <th>Totalt belopp</th>
                        <th>Åtgärder</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var order in Model.Orders)
                    {
                        @foreach (var product in order.Products)
                        {
                            <tr>
                                <td>@order.OrderId</td>
                                <td>@order.CustomerId</td>
                                <td>@product.ProductName</td>
                                <td>@product.Price</td>
@* 								<td>@product.Quantity</td>
                                <td>@order.TotalPrice</td>
                                <td>@order.OrderDate</td>
                                <td><button class="manage-order-btn">Hantera</button></td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
            <div class="order-actions">
                <partial name="_OrderEditView" model="Model.Orders" />
            </div>
        </div> *@
    </div>
    <div class="third account-tab">
        <div class="inventory-management">
			<h2>Hantera lager</h2>
			<table class="inventory-table">
				<thead>
					<tr>
						<th>Produktnamn</th>
						<th>Antal i lager</th>
                        <th>Pris</th>
						<th>Avdelning</th>
						<th>Beskrivning</th>
						<th>Bild</th>
						<th>Recensioner</th>
						<th>Åtgärder</th>
					</tr>
				</thead>
				<tbody>
                    @foreach (var product in Model.Products)
                    {
                        <tr>
                            <td>@product.ProductName</td>
                            <td>@product.Quantity</td>
                            <td>@product.Price</td>
                            <td>
                                @(Model.Departments.FirstOrDefault(d => d.DepartmentId == product.DepartmentId)?.DepartmentName ?? "Unknown")
                            </td>
                            <td>@product.Description</td>
                            <td>
                                @if (product.Image != null && product.Image.Length > 0)
                                {
                                    <img src="data:image/svg+xml;base64,@Convert.ToBase64String(product.Image)"
                                         alt="@product.ProductName"
                                         style="width: 50px; height: 50px;" />

                                }
                                else
                                {
                                    <span>Ingen bild</span>
                                }
                            </td>
                            <td>
                                <button class="manage-product-btn"
                                        data-product-id="@product.ProductId"
                                        data-product-name="@product.ProductName"
                                        data-product-quantity="@product.Quantity"
                                        data-product-price="@product.Price"
                                        data-product-department-id="@product.DepartmentId"
                                        data-product-description="@product.Description">
                                    Hantera
                                </button>
                            </td>
                        </tr>
                    }
				</tbody>
			</table>
            
        </div>
        <div class="inventory-actions">
            <button class="add-product-btn">Lägg till produkt</button>
            <partial name="_AdminProductEditView" model="Model" />
        </div>
    </div>
    <div class="fourth account-tab">
        <div class="">
            <h2>fourth tab</h2>
        </div>
    </div>
    <div class="fifth account-tab">
        <div class="">
        </div>
    </div>
    <div class="sixth account-tab">
        <div class="">
        </div>
    </div>
    <div class="seventh account-tab">
        <div class="">
        </div>
    </div>
</div>

<script src="~/js/productManagement.js"></script>
<script src="~/js/userManagement.js"></script>