@using Microsoft.AspNetCore.Identity
@using TechElite.Areas.Identity.Data
@using System.Linq
@using TechElite.Models
@using Microsoft.AspNetCore.Mvc.Rendering


@inject UserManager<ApplicationUser> UserManager

@model TechElite.Models.AdminAccountViewModel


<!-- https://codewithmukesh.com/blog/user-management-in-aspnet-core-mvc/
använd denna kanske
-->

<div class="content">
    <div class="first account-tab">
        <div class="welcome">
            <h1>Välkommen @UserManager.GetUserName(User)!</h1>
        </div>
        <div class="Profile">
            <div class="profile-information">
                <div class="profile-picture">
                    <img src="~/img/Icons/user.svg" alt="user icon">
                </div>
                <div class="profile-details">
                    <h2>Användarnamn:</h2>
                    <p>@UserManager.GetUserName(User)</p>
                    <h2>Förnamn:</h2>
                    <p>@UserManager.GetUserAsync(User).Result.FirstName</p>
                    <h2>Efternamn:</h2>
                    <p>@UserManager.GetUserAsync(User).Result.LastName</p>
                    <h2>E-post:</h2>
                    <p>@UserManager.GetUserAsync(User).Result.Email</p>
                    @if (Model.Customers != null)
                    {
                        var customer = Model.Customers.FirstOrDefault(c => c.ApplicationUserId == UserManager.GetUserId(User));
                        if (customer != null)
                        {
                            <h2>Adress:</h2>
                            <p>@customer.Address</p>
                            <h2>Postnummer:</h2>
                            <p>@customer.ZipCode</p>
                            <h2>Stad:</h2>
                            <p>@customer.City</p>
                        }
                        else
                        {
                            <h2>Adress:</h2>
                            <p>Ej angett</p>
                            <h2>Postnummer:</h2>
                            <p>Ej angett</p>
                            <h2>Stad:</h2>
                            <p>Ej angett</p>
                        }
                    }
                </div> 
            </div>
            <div class="profile-management">
                <partial name="_UserAccountEditView" model="Model" />
            </div>
        </div>
    </div>
    <div class="second account-tab">
        <div class="Favorites">
        </div>
    </div>
    <div class="third account-tab">
        <div class="Orderhistorik">
        </div>
    </div>
    <div class="fourth account-tab">
        <div class="Spårning">
            <h2>fourth tab</h2>
        </div>
    </div>
    <div class="fifth account-tab">
        <div class="Trådar">
        </div>
    </div>
    <div class="sixth account-tab">
        <div class="Inlägg">
        </div>
    </div>
    <div class="seventh account-tab">
        <div class="Hjälp">
        </div>
    </div>
</div>