@using TechElite.Models
@model ShopViewModel
@{
    ViewData["Title"] = "Home Page";
}

<head>
    <link rel="stylesheet" href="~/css/index.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/shop.css" asp-append-version="true"/>
</head>

<div class="hero-container">
    <div class="hero-image">
        <h1>Välkommen till TechElite</h1>
        <p>Upptäck de senaste teknologierna</p>
        <a class="shop-now-btn" asp-controller="Shop" asp-action="Index">Shoppa nu</a>
    </div>
    <div class="header-content">
        <div class="img-box">
        </div>

    </div>
    <div class="links">
        @foreach (var d in Model.Departments)
        {
            <a asp-controller="Shop" asp-action="FilterDepartments" asp-route-id="@d.DepartmentId">@d.DepartmentName</a>
        }
    </div>
</div>
<main>
    <div class="index-container">
        <article>
            <div class="product-view">
                @foreach (var p in Model.Products)
                {
                    <section class="Shop-section">
                        <a asp-controller="Shop" asp-action="ProductPage" asp-route-id="@p.ProductId">
                            <div class="products">
                                <img src="~/img/Products/Department@(p.DepartmentId)/Product@(p.ProductId).svg" alt="">
                            </div>
                            <p>@p.ProductName</p>
                            <p><b>@p.Price</b></p>
                            <p>@p.Description</p>
                        </a>
                    </section>
                }
            </div> 
        </article>
    </div>
</main>