@using TechElite.Models
@model ForumViewModel
@{
    ViewData["Title"] = "Forum";
    int unreadCount = Model.Notifications.Count(n => !n.IsRead);
}
<head>
    <link rel="stylesheet" href="~/css/forum.css" asp-append-version="true" />
</head>

<main>
    <div class="forum-container">
        <article class="forum-menu">
            <div class="notification-container" onclick="showNotifications()">
                <img class="notifications" src="~/img/Icons/notifications.svg" />
                @if (unreadCount > 0)
                {
                    <span id="notification-badge" class="notification-badge">@unreadCount</span>
                }
            </div>
            <div class="search">
                <img src="~/img/Icons/search_black.svg" onclick="SearchForum()">
                <form asp-action="SearchForum" method="get">
                    <input class="search-input-forum" type="text" name="search" placeholder="Sök..." />
                </form>
            </div>
            <div class="create">
                <a class="btn" asp-controller="Forum" asp-action="Create">Skapa tråd</a>
            </div>
        </article>
        <article id="notification-article">
            <section>
                <h4>Notiser</h4>
                <div>
                    @foreach (Notification n in Model.Notifications)
                    {
                        <p class="@(n.IsRead ? "read" : "unread")">
                            @n.Message
                            <a class="notification-link" asp-controller="Forum" 
                                asp-action="Read" asp-route-id="@n.NotificationId">
                                @n.ForumThread.ThreadTitle
                            </a>
                        </p>
                    }
                </div>
            </section>
        </article>
        <article>
            <section>
                <h4>Senaste</h4>
                <div>
                    @foreach (ForumThread t in Model.ForumThreads)
                    {
                        <a class="new-thread" asp-controller="Forum" asp-action="Thread" asp-route-id="@t.ThreadId">@t.ThreadTitle</a>
                    }
                    <a class="show-more" asp-controller="Forum" asp-action="LatestThreads">Visa mer</a>
                </div>
            </section>
            <section>
                <h4>Mina trådar och inlägg</h4>
                <div>
                    @if (Model.CurrentUser != null)
                    {
                    @foreach (var myThread in Model.ForumThreads)
                    {
                        <a class="my-thread" asp-controller="Forum" asp-action="Thread" asp-route-id="@myThread.ThreadId">@myThread.ThreadTitle</a>
                    }
                    @foreach (var myReply in Model.ForumReplies)
                    {
                        <a class="my-thread" asp-controller="Forum" asp-action="Thread" asp-route-id="@myReply.ReplyId">@myReply.Content</a>
                    }
                    }
                    else
                    {
                        <p class="my-thread">Du måste vara inloggad för att se dina trådar och inlägg.</p>
                    }

                    <a class="show-more" asp-controller="Forum" asp-action="MyThreads">Visa mer</a>
                </div>
            </section>
        </article>
    </div>
</main>
<script src="~/js/forum.js"></script>