@using TechElite.Models
@model ForumThread
@{
    ViewData["Title"] = "Thread";
}
<head>
    <link rel="stylesheet" href="~/css/forum.css" />
    <link rel="stylesheet" href="~/css/thread.css" />
</head>
<main>
    <div class="forum-container">
        <section class="thread">
            <h3>@Model.ThreadTitle</h3>
            <div class="thread-div">
                <span>
                    @if (Model.ApplicationUser != null)
                    {
                        <p>@Model.ApplicationUser.UserName</p>
                    }
                    else
                    {
                        <p>User for Thread @Model.ThreadTitle is not found.</p>
                    }
                    <p class="date">@Model.PublishDate</p>
                </span>
                <p>@Model.ThreadContent</p>
                <a class="btn" asp-controller="Forum" asp-action="UpdateThread" asp-route-id="@Model.ThreadId">Uppdatera tråd</a>
                <a class="btn" asp-controller="Forum" asp-action="DeleteThread" asp-route-id="@Model.ThreadId">Radera tråd</a>
            </div>
        </section>
        @if (Model.Replies is not null)
        {
            foreach (var reply in Model.Replies)
            {
                <section class="thread">
                    <div class="thread-div">
                        <span>
                            <p class="user">@reply.UserName</p>
                            <p class="date">@reply.PublishDate</p>
                        </span>
                        <p>@reply.Content</p>
                    </div>
                </section>
            }
        }
        <article>
            <form method="post" id="create-post" asp-action="AddReply">
                <h3>Skapa inlägg</h3>
                <input for="ThreadId" type="hidden" name="threadId" value="@Model.ThreadId" />
                <input for="ThreadTitle" type="hidden" name="threadTitle" value="@Model.ThreadTitle" />
                <input for="ThreadContent" type="hidden" name="threadContent" value="@Model.ThreadContent" />
                <label for="ReplyContent">Inlägg</label>
                <textarea for="ReplyContent" id="text" name="replyContent" rows="5" columns="50"></textarea>
                <input for="ForumThread" type="hidden" name="forumThread" value="@Model" />
                <input for="CategoryId" type="hidden" name="categoryId" value="@Model.CategoryId" />
                <button type="submit" class="btn" id="submit">Publicera</button>
            </form>
        </article>
    </div>
</main>
