@using TechElite.Models
@model IEnumerable<TechElite.Models.Product>
@{
    ViewData["Title"] = "Filter Departments";
    var department = Model
        .Where(d => d.DepartmentId != null)
        .Select(d => d.DepartmentId)
        .FirstOrDefault();
}

<head>
    <link rel="stylesheet" href="~/css/shop.css" asp-append-version="true" />
</head>

<main>
    <div class="shop-container">
        <article class="Feature">
            <img style="max-height: 400px;" src="~/img/Shop/Department@(department).jpg" alt="shop.img" />
        </article>

        <article class="produkten">
            @foreach (var p in Model)
            {
                <section>
                    <a asp-controller="Shop" asp-action="ProductPage" asp-route-id="@p.ProductId">
                        <div class="products">
                            <img src="~/img/Products/Department@(p.DepartmentId)/Product@(p.ProductId).svg" alt="@p.ProductName">
                        </div>
                        <p>@p.ProductName</p>
                        <p><b>@p.Price.ToString("C")</b></p>
                        <p>@p.Description</p>
                    </a>

                    <form asp-controller="Cart" asp-action="AddToCart" method="post">
                        <input type="hidden" name="id" value="@p.ProductId" />
                        <button type="submit" class="Varukorg">Lägg till i Varukorgen</button>
                    </form>
                </section>
            }
        </article>
    </div>
</main>
