@using TechElite.Models
@model ShopViewModel

@{
    ViewData["Title"] = "Shop";
}
<head>
    <link rel="stylesheet" href="~/css/shop.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Style.css" asp-append-version="true" />
</head>



<main>
<<<<<<< HEAD
    <article>
        <div class="filter">
            <div class="filter-icons">
                <div class="dropdown">
                    <button>
                        <img src="~/img/Icons/filter_blck.svg" alt="icon">
                    </button>
                    <div class="dropdown-content">
                        @foreach (var d in Model.Departments)
                        {
                            <a asp-controller="Shop" asp-action="FilterDepartments" asp-route-id="@d.DepartmentId">@d.DepartmentName</a>
                        }
=======
    <article class="Feature">
        <img max height="500px" src="~/img/Shop/tech.shop.jpg" alt="shop.img">
    </article>
    <div class="shop-container">
    
        <article>
            <div class="filter">
                <div class="filter-icons">
                    <div class="dropdown">
                        <button>
                            <img src="~/img/Icons/filter_blck.svg" alt="icon">
                        </button>
                        <div class="dropdown-content">
                            @foreach (var d in Model.Departments)
                            {
                                <a asp-controller="Shop" asp-action="FilterDepartments" asp-route-id="@d.DepartmentId">@d.DepartmentName</a>
                            }
                        </div>
>>>>>>> master
                    </div>
                </div>
            </div>
            <button class="cartlänk">
                <a href="cart.html">
                    <img src="~/img/Icons/cart_blck.svg" alt="cart">
                </a>
            </button>
        </div>
        <div class="product-view">
            @foreach (var p in Model.Products)
            {
                <section>
                    <button>
                        <a asp-controller="Shop" asp-action="ProductPage" asp-route-id="@p.ProductId">
                            <div class="products">
                                <img src="~/img/Products/Department@(p.DepartmentId)/Product@(p.ProductId).svg" alt="">
                            </div>
                            <p>@p.ProductName</p>
                            <p><b>@p.Price</b></p>
                            <p>@p.Description</p>
                        </a>
                    </button>
                </section>
            }
<<<<<<< HEAD
    </article>
=======
                <section>
                        <button><a asp-controller="Shop" asp-action="ProductPage">
                            <div class="products">
                                <img src="~/img/Products/Consoles/Console2.svg" alt="">
                            </div>
                            <p>Playstation 1</p>
                            <p><b>$19.90</b></p>
                            <p>En produkt för alla</p>
                    </a>
                </button>
                </section>
                <section>
                        <button><a asp-controller="Shop" asp-action="ProductPage">
                            <div class="products">
                                <img src="~/img/Products/Earbuds/Buds2.svg" alt="">
                            </div>
                            <p>Temu Earbuds</p>
                            <p><b>$19.90</b></p>
                            <p>En produkt för alla</p>
                    </a>
                </button>
                </section>
                <section>
                        <button><a asp-controller="Shop" asp-action="ProductPage">
                            <div class="products">
                                <img src="~/img/Products/Drawingtabletdrtablet1.svg" alt="">
                            </div>
                            <p>Rit Bräda</p>
                            <p><b>$19.90</b></p>
                            <p>En produkt för alla</p>
                    </a>
                </button>
                </section>
                <section>
                        <button><a asp-controller="Shop" asp-action="ProductPage">
                            <div class="products">
                                <img src="~/img/Products/Laptop/Laptop1.svg" alt="">
                            </div>
                            <p>Mac Attack</p>
                            <p><b>$1990</b></p>
                            <p>En produkt för alla</p>
                    </a>
                </button>
                </section>
                <section>
                        <button><a asp-controller="Shop" asp-action="ProductPage">
                            <div class="products">
                                <img src="~/img/Products/Mouse/Mouse2.svg" alt="">
                            </div>
                            <p>Ergonomisk mus</p>
                            <p><b>$19.90</b></p>
                            <p>En produkt för alla</p>
                    </a>
                </button>
                </section>
                <section>
                        <button><a asp-controller="Shop" asp-action="ProductPage">
                            <div class="products">
                                <img src="~/img/Products/Monitor/Monitor4.svg" alt="">
                            </div>
                            <p>Elite Monitor</p>
                            <p><b>$19.90</b></p>
                            <p>En produkt för alla</p>
                    </a>
                </button>
                </section>
                <section>
                        <button><a asp-controller="Shop" asp-action="ProductPage">
                            <div class="products">
                                <img src="~/img/Products/Components/Exthdd1.svg" alt="">
                            </div>
                            <p>Samsung Hårddisk</p>
                            <p><b>$19.90</b></p>
                            <p>En produkt för alla</p>
                    </a>
                </button>
                </section>
                <section>
                        <button><a asp-controller="Shop" asp-action="ProductPage">
                            <div class="products">
                                <img src="~/img/Products/Keyboard/Keyboard3.svg" alt="">
                            </div>
                            <p>Funky Keyboard</p>
                            <p><b>$19.90</b></p>
                            <p>En produkt för alla</p>
                    </a>
                </button>
                </section>
                <section>
                        <button><a asp-controller="Shop" asp-action="ProductPage">
                            <div class="products">
                                <img src="~/imgProductsControllersController3.svg" alt="">
                            </div>
                            <p>Xbox Kontroll</p>
                            <p><b>$19.90</b></p>
                            <p>En produkt för alla</p>
                    </a>
                </button>
                </section>
            </div>

        </article>
    </div>
>>>>>>> master
</main>
